<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Paper Database</display-name>
  <servlet>
    <description></description>
    <display-name>InitializeServlet</display-name>
    <servlet-name>InitializeServlet</servlet-name>
    <servlet-class>user.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeServlet</servlet-name>
    <url-pattern>/InitializeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ListSingleAuthorServlet</display-name>
    <servlet-name>ListSingleAuthorServlet</servlet-name>
    <servlet-class>user.web.servlet.ListSingleAuthorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSingleAuthorServlet</servlet-name>
    <url-pattern>/ListSingleAuthorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMemberServlet</display-name>
    <servlet-name>InsertMemberServlet</servlet-name>
    <servlet-class>user.web.servlet.InsertMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMemberServlet</servlet-name>
    <url-pattern>/InsertMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMemberServlet</display-name>
    <servlet-name>UpdateMemberServlet</servlet-name>
    <servlet-class>user.web.servlet.UpdateMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMemberServlet</servlet-name>
    <url-pattern>/UpdateMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMemberServlet</display-name>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <servlet-class>user.web.servlet.DeleteMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <url-pattern>/DeleteMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReviewServlet</display-name>
    <servlet-name>UpdateReviewServlet</servlet-name>
    <servlet-class>user.web.servlet.UpdateReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReviewServlet</servlet-name>
    <url-pattern>/UpdateReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReviewServlet</display-name>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <servlet-class>user.web.servlet.DeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <url-pattern>/DeleteReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertReviewServlet</display-name>
    <servlet-name>InsertReviewServlet</servlet-name>
    <servlet-class>user.web.servlet.InsertReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertReviewServlet</servlet-name>
    <url-pattern>/InsertReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>user.web.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>user.web.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>user.web.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignReviewersServlet</display-name>
    <servlet-name>AssignReviewersServlet</servlet-name>
    <servlet-class>user.web.servlet.AssignReviewersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignReviewersServlet</servlet-name>
    <url-pattern>/AssignReviewersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
